@use "../../styles/breakpoints" as bp;

.template-page-content {
  width: 100%;
  position: relative;
  @include bp.respond(sm) {
    width: 100%;
    padding: 0 1rem;
    max-width: 100vw;
  }
   
  .back {
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      color: var(--lightgray);
    }
  }
  .header {
    margin: 1rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .title {
      font-size: 24px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .meta {
        font-size: 14px;
        color: var(--lightgray);
        display: flex;
        gap: 5px;
      }
    }
    .description,
    .author {
      color: var(--lightgray);
    }

    .tags {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .tag {
        font-size: 12px;
        color: #0072f5;
        background-color: #f0f7ff;
        border: 1px solid #cce6ff;
        padding: 5px 12px;
        border-radius: 22px;
      }
    }
  }

  .template-file {
    pre {
      background: #0f172a;
      color: #e5e7eb;
      border-radius: 10px;
      font-size: 0.9rem;
      line-height: 1.6;
      outline: 1px solid var(--border);
          overflow: hidden;

      .file-header {
        background-color: #000205;
        display: flex;
        padding: 0rem 1.25rem;
        height: 40px;
        .text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 100%;
          width: 100%;
          p {
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
            color: var(--accent);
            font-size: 12px;
          }
          .copy-code-btn {
            cursor: pointer;
          }
        }
      }
      code {
        display: flex;
        gap: 1rem;
        font-family: "JetBrains Mono", "Fira Code", monospace;
        white-space: pre;
        overflow-x: auto;
        padding: 0 1.25rem;
        padding-bottom: 2rem;
      }
    }
  }

  .getting-started {
    margin-top: 2rem;
    .title {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
