$breakpoints: (
  xs: 360px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);

@mixin respond($key, $direction: min) {
  $size: map-get($breakpoints, $key);

  @if $size == null {
    @error "Breakpoint '#{$key}' not found in \$breakpoints map.";
  }

  @media (#{$direction}-width: #{$size}) {
    @content;
  }
}