$breakpoints: (
  xs: 360px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);

@mixin respond($key) {
  $size: map-get($breakpoints, $key);
  $next-key: null;

  // Get next breakpoint
  $keys: map-keys($breakpoints);
  $index: index($keys, $key);
  @if $index != length($keys) {
    $next-key: nth($keys, $index + 1);
  }

  $max-width: if($next-key, map-get($breakpoints, $next-key) - 1px, null);

  @if $max-width {
    @media (min-width: $size) and (max-width: $max-width) {
      @content;
    }
  } @else {
    @media (min-width: $size) {
      @content;
    }
  }
}