@use "./variables" as var;
@use "./breakpoints" as bp;
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

main {
  flex: 1;
}

.page {
  background-color: var.$primaryBGColor;
  .page-content {
    margin: 0 auto;
    width: 1400px;
    position: relative;
    display: flex;
    padding-bottom: 3rem;
    @include bp.respond(sm) {
      padding: 0 1rem;
    }

    @include bp.respond(md) {
      padding: 0 0rem;
    }

    @include bp.respond(lg) {
      padding: 0 2rem;
    }

    @include bp.respond(xl) {
      padding: 0 1rem;
    }

    @include bp.respond(xxl) {
      padding: 0rem;
    }

    .templates {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 2rem 0;
      width: 900px;
      .template {
        width: 233px;
        height: 200px;
        border: 1px solid lightgray;
        padding: 10px 1rem;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        cursor: pointer;
        .name {
          font-size: 22px;
        }
        .author {
          font-size: 14px;
          color: gray;
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
        .stats {
          margin-top: auto;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .notice {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 14px;
        justify-content: center;
        .label {
            color: #721c24;
            background-color: #f7e0e2;
            border-color: #f5c6cb;
            width: fit-content;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 22px;
            font-weight: 500;
        }
    }
  }
}

a {
  color: #6d6c6c;
  text-decoration: none;
  &:hover {
    color: #383838;
  }
}
