@use './variables' as var;
@use './breakpoints' as bp;
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

.page {
    background-color: var.$primaryBGColor;
    .page-content {
        margin: 0 auto;
        width: 1400px;
        position: relative;
        display: flex;
        padding-bottom: 3rem;
        @include bp.respond(md) {
            max-width: 100%;
        }

        .templates {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 2rem 0;
            .template {
                width: 233px;
                height: 200px;
                border: 1px solid lightgray;
                padding: 10px 1rem;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                cursor: pointer;
                .name {
                    font-size: 22px;
                }
                .author {
                    font-size: 14px;
                    color: gray;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
                .stats {
                    margin-top: auto;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

a {
    color: #6d6c6c;
    text-decoration: none;
    &:hover {
        color: #383838;
    }
}