@use "./variables" as var;
@use "./breakpoints" as bp;
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

html.light {
  --bg: #fff;
  --text: #030712;
  --border: lightgray;
  --lightgray: #4a5565;
  --dividerColor: lightgray;
  --accent: #00bcff;
}

html.dark {
  --bg: #030712;
  --text: #fff;
  --border: #4a5565;
  --lightgray: #d1d5dc;
  --dividerColor: #364153;
  --accent: #00bcff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

main {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.layout-page {
  background-color: var(--bg);
  width: 100vw;
  max-width: 100%;
  position: relative;
  .page {
    max-width: 100%;
    position: relative;
  }
  .page-content {
    margin: 0 auto;
    width: 1400px;
    position: relative;
    display: flex;
    padding-bottom: 3rem;
    @include bp.respond(sm) {
      width: 100%;
    }

    @include bp.respond(md) {
      padding: 0;
      max-width: 100%;
    }

    @include bp.respond(lg) {
      padding: 0 2rem;
      max-width: 100%;
    }

    @include bp.respond(xl) {
      padding: 0 0rem;
      max-width: 100%;
    }

    @include bp.respond(xxl) {
      max-width: 100%;
    }

    .notice {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 14px;
      justify-content: center;
      .label {
        color: #721c24;
        background-color: #f7e0e2;
        border-color: #f5c6cb;
        width: fit-content;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 22px;
        font-weight: 500;
      }
    }
  }
}

a {
  color: #6d6c6c;
  text-decoration: none;
  &:hover {
    color: #383838;
  }
}
