@use "../../styles/breakpoints" as bp;

.templates {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 900px;
  @include bp.respond(sm) {
    width: 100%;
  }
  .template {
    width: 233px;
    height: 200px;
    border: 1px solid var(--border);
    padding: 10px 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    @include bp.respond(sm) {
    width: 100%;
  }
    .name {
      font-size: 22px;
    }
    .author {
      font-size: 14px;
      color: gray;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .stats {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
    }
  }
}
