@use "../../styles/breakpoints" as bp;

.overlay {
  background-color: rgba(151, 151, 151, 0.2);
  backdrop-filter: blur(4px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  .modal {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: fixed;
    z-index: 9999;
    height: fit-content;
    width: 40%;
    height: 84%;
    overflow-y: auto;
    border-radius: 32px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    padding: 0 2rem;
    padding-bottom: 1rem;
    @include bp.respond(sm) {
      width: 95%;
      height: 95%;
    }
    
    &::-webkit-scrollbar {
      display: none;
    }
    .header {
      display: flex;
      min-height: 65px;
      align-items: center;
      position: sticky;
      top: 0;
      background-color: var(--bg);
      .title {
        all: unset;
        font-size: 18px;
        font-weight: 500;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .icon {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        margin-left: auto;
        &:hover {
          background-color: #f3f3f3;
        }
      }
    }
    .modal-footer {
      height: 75px;
      display: flex;
      align-items: center;

      button {
        margin-left: auto;
        height: 35px;
        width: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        border: none;
        background-color: var(--accent);
        color: white;
        cursor: pointer;
      }
    }

    /* NEW MODAL DESIGN */

    .modal-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      position: relative;
      height: 100%;

      .options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .option {
          all: unset;
          display: flex;
          flex-direction: column;
          gap: 5px;
          label {
            font-size: 13px;
            font-weight: 500;
          }
          input,
          textarea {
            border: none;
            outline: 1px solid var(--border);
            border-radius: 6px;
            padding: 10px;
            resize: none;
          }
          input {
            max-width: 200px;
            height: 35px;
          }
          textarea {
            min-height: 75px;
          }
        }
      }
      .template-code {
        width: 100%;
        height: 100%;

        textarea {
          background-color: #fcfcfc;
          border: none;
          max-width: 100%;
          border-radius: 6px;
          outline: 1px solid var(--border);
          padding: 10px;
          height: 100%;
          resize: none;
          width: 100%;
          scrollbar-width: thin;
          scrollbar-color: var(--border) transparent;
          scrollbar-gutter: stable;
          &:focus {
            border: none;
            outline: 1px solid var(--border);
          }
        }
      }
    }
  }
}
