@use '../../styles/variables' as var;
@use '../../styles/breakpoints' as bp;

.navbar {
    height: 64px;
    width: 100%;
    background-color: var.$primaryBGColor;
    border-bottom: 1px solid rgb(0 0 0 / 8%);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    @include bp.respond(md) {
        padding: 0 2rem;
    }
    .navbar-content {
        width: var.$pageWidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 3rem;
        .logo {
            h1 {
                font-size: 26px;
                font-weight: 500;
            }
        }
        .links {
            display: flex;
            list-style: none;
            flex: 1;
            gap: 1.5rem;
            li {
                font-size: 14px;
                color: #666;
            }
        }
        .controls {
            margin-left: auto;
        }
    }
}