@use "../../styles/variables" as var;
@use "../../styles/breakpoints" as bp;

.navbar {
  height: 64px;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  border-bottom: 1px solid var(--dividerColor);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;

  @include bp.respond(md) {
    padding: 0 2rem;
  }
  .navbar-content {
    width: var.$pageWidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    .logo {
      .logo-text {
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 27px;
        color: var(--text);
      }
    }
    .links {
      display: flex;
      list-style: none;
      flex: 1;
      gap: 1.5rem;

      li {
        font-size: 14px;
        color: var(--lightgray);
        font-weight: 500;
      }
      .active {
        color: var.$accent;
        font-weight: 500;
      }
    }
    .controls {
      margin-left: auto;
    }
  }
}
