@use "../../styles/variables" as var;
@use "../../styles/breakpoints" as bp;

.sidebar,
.right-sidebar {
  min-width: 284px;
  height: calc(100vh - 64px);
  padding-top: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 64px;
  background-color: var(--bg);
  color: var(--text);
  display: none;
   @include bp.respond(sm) {
    display: none;
  }
  @include bp.respond(md) {
    padding: 0 2rem;
    padding-top: 2rem;
    display: block;
  }
  @include bp.respond(lg) {
    padding-top: 2rem;
    display: block;
  }
  @include bp.respond(xl) {
    padding-top: 2rem;
    margin-left: 2rem;
    display: block;
  }
  @include bp.respond(xxl) {
    display: block;
  }
  

  .version {
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    .icon-wrapper {
      background-color: hsl(212, 100%, 97%);
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: 1px solid rgb(145, 182, 224);
      border-radius: 4px;
      svg {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      p {
        font-weight: 600;
        font-size: 13px;
      }
      span {
        font-size: 12px;
        color: gray;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    max-height: calc(100vh - 104px - 5rem);
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    scrollbar-gutter: stable;
    padding-bottom: 3rem;
    

    .section-title {
      font-size: 14px;
      font-weight: 500;
      padding-top: 10px;
    }
    li {
      font-size: 14px;
      list-style: none;
      padding-left: 5px;
    }
    .active {
      color: rgb(38, 94, 250);
    }
    .greyed-out {
      color: lightgray;
    }
  }
}

.sidebar .links li a {
  color: var(--lightgray);
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: var(--text);
  }
}

.sidebar .links li a.active {
  color: var.$accent;
  font-weight: 400;
}

.right-sidebar {

   @include bp.respond(sm) {
    border: 1px solid red;
    display: none;
  }

  @include bp.respond(md) {
    display: none;
    border: 1px solid red;
  }

  @include bp.respond(lg) {
    display: none;
  }

  @include bp.respond(xl) {

  }

  @include bp.respond(xxl) {
  }
}
