@use "../../styles/variables" as var;

.footer {
  height: 400px;
  background-color: fff;
  width: 100%;
  border-top: 1px solid var.$borderColor;
  padding: 2rem 0;
  .footer-content {
    width: 1400px;
    margin: 0 auto;
    display: flex;

    .name {
      height: calc(400px - 4rem);
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
       min-width: 284px;
      h1 {
        font-family: "Honk", system-ui;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        font-variation-settings: "MORF" 15, "SHLN" 50;
      }
      P {
        color: gray;
        font-size: 12px;
      }
    }
    .sections {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // border: 1px solid lime;
      padding: 0 3rem;
      .section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
        .section-title {
          font-size: 14px;
          font-weight: 500;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        li {
          font-size: 14px;
          color: #6d6c6c;
          list-style: none;
        }
      }
    }
    .newsletter {
        min-width: 284px;

      .section {
        display: flex;
        flex-direction: column;
        gap: 15px;
        p {
          font-size: 14px;
          color: gray;
        }
        .section-title {
          font-size: 14px;
          font-weight: 500;
          padding-top: 10px;
          color: black;
        }
        .input {
            display: flex;
            border: 1px solid rgb(179, 179, 179);
            padding: 5px 10px;
            border-radius: 4px;
            input {
                width: 70%;
                border: none;
                outline: none;
             
            }
            button {}
        }
      }
    }
  }
}
