@use "../../styles/variables" as var;
@use '../../styles/breakpoints' as bp;
.footer {
  height: 400px;
  width: 100%;
  border-top: 1px solid var(--dividerColor);
  padding: 2rem 0;
  background-color: var(--bg);
  color: var(--text);
  .footer-content {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    @include bp.respond(sm) {
      padding: 0 1rem;
      max-width: 100%;
    }

    @include bp.respond(md) {
      padding: 0 0rem;
      max-width: 100%;
    }

    @include bp.respond(lg) {
      padding: 0 2rem;
      max-width: 100%;
    }

    @include bp.respond(xl) {
      max-width: 100%;
      padding: 0 1rem;
    }

    @include bp.respond(xxl) {
      padding: 0rem;
    }
    .name {
      height: calc(400px - 4rem);
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
       min-width: 284px;
      h1 {
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        color: var(--text);
      }
      P {
        color: gray;
        font-size: 12px;
      }
    }
    .sections {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 3rem;
      .section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
        .section-title {
          font-size: 14px;
          font-weight: 500;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        li {
          font-size: 14px;
          color: var(--lightgray);
          list-style: none;
        }
      }
    }
    .newsletter {
        min-width: 284px;

      .section {
        display: flex;
        flex-direction: column;
        gap: 15px;
        p {
          font-size: 14px;
          color: gray;
        }
        .section-title {
          font-size: 14px;
          font-weight: 500;
          padding-top: 10px;
          color: black;
        }
        .input {
            display: flex;
            border: 1px solid rgb(179, 179, 179);
            padding: 5px 10px;
            border-radius: 4px;
            input {
                width: 70%;
                border: none;
                outline: none;
             
            }
            button {}
        }
      }
    }
  }
}
